<p id="notice"><%= notice %></p>

<p>
  <strong>Store:</strong>
  <%= @store_db.store %>
</p>

<p>
  <strong>Location:</strong>
  <%= @store_db.location %>
</p>

<p>
  <strong>Smorkingornot:</strong>
  <%= @store_db.smorkingornot %>
</p>

<p>
  <strong>Seats:</strong>
  <%= @store_db.seats %>
</p>

<%= link_to 'Edit', edit_store_db_path(@store_db) %> |
<%= link_to 'Back', store_dbs_path %>
