<%= form_for(@store_detabasis) do |f| %>
  <% if @store_detabasis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store_detabasis.errors.count, "error") %> prohibited this store_detabasis from being saved:</h2>

      <ul>
      <% @store_detabasis.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :store %><br>
    <%= f.text_field :store %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :smorkingornot %><br>
    <%= f.text_field :smorkingornot %>
  </div>
  <div class="field">
    <%= f.label :capacity %><br>
    <%= f.text_field :capacity %>
  </div>
  <div class="field">
    <%= f.label :filled_seat %><br>
    <%= f.number_field :filled_seat %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
