<p id="notice"><%= notice %></p>

<p>
  <strong>Store:</strong>
  <%= @store_detabasis.store %>
</p>

<p>
  <strong>Location:</strong>
  <%= @store_detabasis.location %>
</p>

<p>
  <strong>Smorkingornot:</strong>
  <%= @store_detabasis.smorkingornot %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @store_detabasis.capacity %>
</p>

<p>
  <strong>Filled seat:</strong>
  <%= @store_detabasis.filled_seat %>
</p>

<%= link_to 'Edit', edit_store_detabasis_path(@store_detabasis) %> |
<%= link_to 'Back', store_detabases_path %>
