<!DOCTYPE html>
<html>
<body>
 <div class = "body">
 <head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 </head>
 
  <header>
    <div class="container">
      <div class="header-left">
       <a href="https://howfull2-atm36.c9users.io/top">
        <%= image_tag 'howfullhead.jpg', :size => '500x70' %>
        </a>
      </div>
      
      <div class="header-right">
       
      </div>
    </div>
  </header>



  
 
  


   
</div>
 <%= yield %>
 <footer>
   <div class="footer">
   
  <footer-left>
    <ul>
    <li> <a href="https://howfull2-atm36.c9users.io/aboutus" class="aboutus">About my team</a> </li>
      <li> <a href="https://howfull2-atm36.c9users.io/contact" class="contact">Countact us</a> </li>
    </ul>
  </footer-left>
  </div>
  
 </footer>


</html>
